.table {
    size: 70%;
    border: 1px solid #cdcd;
    margin-bottom: 10px;
    background-color: whitesmoke;
}

.images {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}
.button{
    margin-bottom: 20px;
}
.tableText{
    font-weight: bold;
    font-size: 100%;
}